server {
        listen 80 default_server;
        listen [::]:80 default_server;

        server_name {{ nginx_server_name }} ;

        location / {
                # First attempt to serve request as file, then
                # as directory, then fall back to displaying a 404.
                try_files $uri $uri/ =404;
        }

}
